ion-toolbar {
  --background:#4FBDBA;
  color: white;
  font-family: ZenDots;
}

.category-container{
  text-align: center;
  margin-left: 0.6rem;
}

.category-button{
  width: 8rem;
  height: 8rem;
  background: red;
}

body{
  --background-color: red;
}

.home{
  --ion-background-color:#111D12;
}



.bienvenue{
  margin-bottom: 1rem;
}

.title{
  font-family: ZenDots;
  color: white;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  width: 18rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-bottom: 2px solid white;
}

.infosContainer{
  display: flex;
  justify-content: center;
  text-align: center;
}

.infosChallenge{
  font-family: ZenDots;
  background-color: #4FBDBA;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  width: 5rem;
  margin-right: 4rem;
}

.infosScore{
  font-family: ZenDots;
  background-color: #4FBDBA;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  width: 5rem;
}

.subtitle{
  margin-top: -0.4rem;
}

.success{
  font-family: ZenDots;
  color: white;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.chall-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.category{
  background-color: white;
  color: black;
  text-align: left;
  width: fit-content;
  margin-bottom: -1rem;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.challenge-box{
  background-color: white;
  color: black;
  border-radius: 10px;
  border-top-left-radius: 0px;
  padding: 10px;
  padding-top: 5px;
}

.challenge{
  font-weight: 500 !important;
  font-size: 1rem;
}